doctype html
html(lang='fr')
 head
  title #{pagetitle}
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet', href='/bs/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
  div.container
   h1(class='bg-primary text-white') #{contenttitle}
   table(class=tabclass)
    thead
     tr
      th Sigle
      th Nom
      th Image
    tbody
     each val in liste
      tr
       td #{val.sigle}
       td #{val.nom}
       td: img(src="images/"+val.image,class='img-thumbnail univ', title=val.sigle)/ 